* {
    box-sizing: border-box;
}

#calc-display {
    background: black;
    color: white;
    height: 130px;
    font-size: 80px;
    text-align: right;
    vertical-align:middle;
    padding-right: 10px;
    padding-top: 20px;
}