/* All styles for your header Components live here */


header {
    display: flex;
}

header p {
    width: 600px;
    position: relative;
    bottom: 20px;
}

div.thumbnail {
    display:block;
    background: crimson;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.thumbnail img {
    position: relative;
    top: 10px;
    width:50px;
    height:50px;
    color: white;
    text-align: center;
    vertical-align: middle;
    
}

.thumbnail-wrapper {
    display: inline-block;
    height: 100px;
    width: 65px;
    text-align: center;
}

.title h2 {
    display: inline-block;
    margin-left: 10px;
}

.title small {
    margin: 10px;
    color: lightgray;
}
