#calc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid black;
    width: 450px;
    height: 600px;
    margin: 10px;
}

#section-1 {
    flex-basis: 80%;
    border: 1px solid red;
    height: 78%;
}

#section-2 {
    flex-basis: 20%;
    border: 1px solid red;
}