#keypad {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
   flex-basis: 25%;
}

.digit {
    flex-basis: 33%;
}

#number-0 {
    flex-basis: 100%;
}

#multiply {
    
}

.section-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-2 {
    display: flex;
}

#clearBtn {
    width: 100%;
}
