#keypad {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

button {
   width: 33%;
}

.digit {
    width: 33%;
    height: 91px;
}

#number-0 {
    width: 100%;
}

#clearBtn {
    width: 100%;
    height: 100px;
}
