footer {
    border: 1px solid black;
    width: 55%;
    padding: 10px;
}

footer img {
    width: 16px;
}

.image {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
}
